.container-center {
    display: grid;
    place-items: center; /* Center both horizontally and vertically */
    min-height: 100vh; /* Set a minimum height to cover the viewport */
  }
  .form-control{
    width: 597px;
height: 48px;
border-radius: 20px;
border: 1px;
border: 1px solid #F8B602;

  }
  form input{
    padding-left: 15px;
  }
  #heading{
    width: 317px;
height: 48px;
font-family: Poppins;
font-size: 28px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
}

button{
margin-left: .5em;
width: Hug (94px);
height: Hug (46px);
padding: 11px 30px 11px 30px;
border-radius: 4px;
gap: 10px;
background: #F8B602;

}