.file-label {
  display: block;
  color: rgb(155, 152, 152);
  margin-bottom: 4px;
  padding-left: 15px;
  padding-top: 8px; 
  cursor: pointer;
}

.file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Style for the container div to make it visually appealing */
.mb-3 {
  margin-bottom: 15px;
  position: relative;
}

.container-center {
    display: grid;
    place-items: center; /* Center both horizontally and vertically */
    min-height: 100vh; /* Set a minimum height to cover the viewport */
  }
  aside{
    border: 3px solid gray;
  }
  form input{
    padding-left: 15px;
  }
  #AddResturantButton{
    border-radius: 10px;
    font-weight: bold;
  }
  aside ul li{
    border-radius: 10px;
  }
  .text-black {
    color: black !important;
  }
  aside ul li a{
    color:gray;
  }
  #dashboard{
    // margin-top: 8rems;
    margin-top: 11vh;
    padding-left: 5vh;
    padding-right: 2vh;
  }
  .form-control{
    width: 597px;
height: 48px;
border-radius: 20px;
border: 1px;
border: 1px solid #F8B602;

  }
  #heading{
    width: 317px;
height: 48px;
font-family: Poppins;
font-size: 28px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: right;
margin-left: 4em;
margin-bottom: revert;
}
.buttonpair{
//     width: Hug (220px);
// height: Fixed (48px);
gap: 15px;
place-items: center;
width: Hug (94px);
height: Hug (46px);
padding: 11px 30px 11px 30px;
border-radius: 4px;
gap: 10px;
margin-left: 8rem;

}
#Cancel{
    width: Hug (111px);
height: Hug (46px);
padding: 11px 30px 11px 30px;
border-radius: 4px;
border: 1px;
gap: 10px;
background: linear-gradient(0deg, #dadbe7, #d9dbe5),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
border: 1px solid #3C50E0;
margin-right: 1rem;

}
#Save{
    width: Hug (94px);
height: Hug (46px);
padding: 11px 30px 11px 30px;
border-radius: 4px;
gap: 10px;
background: #F8B602;

}