<div class="bg-wihite mx-4 w-11/12 mt-4  mb-12  min-h-screen min-w-screen">
    <div class="pl-4 lg:pt-8 pt-4">
    <img src="assets/hotemwal.png" class="h-8 w-18 ">
    </div>
    <div class="lg:flex  jusstify-center ">
   <div class="lg:w-1/2 mx-4 my-4 ">
    <label for="simple-search" class="sr-only">Search</label>
    <div class="relative w-full ">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
        <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" required>
    </div>
   </div>
   <div class="lg:mt-8 lg:pl-0 pl-4">
    <img class="assets/slider.svg" class="h-4 w-4">
   </div>
</div>
<!-- grid start here -->
<div class="mx-auto ">
    <p class="lg:pl-4  not-italic font-semibold text-2xl leading-9 text-black font-[Poppins] mx-2">Featured Resturant</p>
</div>



    <div class="flex gap-2 flex-row w-screen max-h-96  overflow-x-scroll mx-5">

        <div class="w-96 h-96 flex-shrink-0 flex-grow-0" *ngFor="let rest of featuredRestaurants">
            <img src="assets/hamburger.png"  class="rounded-lg w-full h-70">
            <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Hamburger</span>
            <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 12.75</p>
        </div>





    </div>


<!-- second grid start here -->

<p class="lg:pl-6 not-italic font-semibold text-2xl leading-9 text-black font-[Poppins]" >Recommended Resturant</p>
<div class="lg:p-4 p-2">
    <div class="grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 mb-4 mx-auto lg:pl-0 mx-2">
        <div class="mx-auto">
            <img src="assets/hamburger.png"  class="h-auto max-w-full rounded-lg">
            <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Hamburger</span>
            <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 12.75</p>
        </div>
        <div class="mx-auto">
            <img src="assets/turkey_burger.png"  class="h-auto max-w-full rounded-lg">
            <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Turkey Burger</span>
            <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 13.99</p>
        </div>
        <div class="mx-auto">
            <img src="assets/EIK_burger.png"  class="h-auto max-w-full rounded-lg">
            <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">EIK Burger</span>
            <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 6.99</p>
        </div>
        <div class="mx-auto">
            <img src="assets/veggei_burger.png"  class="h-auto max-w-full rounded-lg">
            <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Veggie Burger</span>
            <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 12.75</p>
        </div>
        <div class="mx-auto">
            <img src="assets/hamburger.png"  class="h-auto max-w-full rounded-lg">
            <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Hamburger</span>
            <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 12.75</p>
        </div>
    </div>
</div>

<!-- third grid start here -->
<div class="lg:p-4 p-2">
<p class="lg:pl-6 not-italic font-semibold text-2xl leading-9 text-black font-[Poppins]" >All Resturant</p>
<div class="grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 mb-4 mx-auto lg:pl-0 mx-2">
    <div class="mx-auto">
        <img src="assets/hamburger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Hamburger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 12.75</p>
    </div>
    <div class="mx-auto">
        <img src="assets/turkey_burger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Turkey Burger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 13.99</p>
    </div>
    <div class="mx-auto">
        <img src="assets/EIK_burger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">EIK Burger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 6.99</p>
    </div>
    <div class="mx-auto">
        <img src="assets/veggei_burger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Veggie Burger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 12.75</p>
    </div>
    <div class="mx-auto">
        <img src="assets/hamburger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Hamburger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 12.75</p>
    </div>
    <div class="mx-auto">
        <img src="assets/turkey_burger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Turkey Burger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 13.99</p>
    </div>
    <div class="mx-auto">
        <img src="assets/EIK_burger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">EIK Burger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 6.99</p>
    </div>
    <div class="mx-auto">
        <img src="assets/hamburger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Hamburger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 12.75</p>
    </div>
    <div class="mx-auto">
        <img src="assets/turkey_burger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Turkey Burger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 13.99</p>
    </div>
    <div class="mx-auto">
        <img src="assets/EIK_burger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">EIK Burger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 6.99</p>
    </div>
    <div class="mx-auto">
        <img src="assets/veggei_burger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Veggie Burger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 12.75</p>
    </div>
    <div class="mx-auto">
        <img src="assets/hamburger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Hamburger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 12.75</p>
    </div>
    <div class="mx-auto">
        <img src="assets/turkey_burger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Turkey Burger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 13.99</p>
    </div>
    <div class="mx-auto">
        <img src="assets/EIK_burger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">EIK Burger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 6.99</p>
    </div>
    <div class="mx-auto">
        <img src="assets/hamburger.png"  class="h-auto max-w-full rounded-lg">
        <span class="not-italic font-semibold text-sm leading-4 text-black font-[Poppins] mt-4">Hamburger</span>
        <p class="not-italic font-semibold  font-[Poppins] text-gray-400 ">$ 12.75</p>
    </div>
</div>
</div>
 </div>
 <!-- flex grid -->
<div class="flex overflow-x-scroll">
  <div class="grid grid-cols-5 gap-4">
    <!-- Your content goes here -->
  </div>
</div>
